<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= url("/style.css") %>" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="app-container">
    <h1 class="bookm-title">Bookmark Manager</h1>
    <form class="home-form" action="/bookmarks">
        <input class="home-btn" type="submit" value="View Bookmarks" id="bookmarks_button">
    </form>
    </div>
</body>
</html>