* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    width: 100%;
    
}
body {
    height: 100%;
    background-color: #30475e;
    color: #e84545;
    font-family: 'Bebas Neue', cursive;

}

.app-container, .bookmarks-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    gap: 1%;
    
}

.bookm-title {
    font-weight: 1900;
    font-size: 70px;
    animation: blink 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    0% {color: #fed049;}
    25% {color: #0d7377;}
    50% {color: #d35d6e;}
    75% {color: #e8e8e8;}
    100% {color: #f3eac2;}
}

.home-btn {
    background-color: #fe7171;
    color: #00334e;
    font-size: 24px;
    padding: 20px 25px;
    margin: auto;
    border-radius: 12px;
    border: none;
    font-family: 'Bebas Neue', cursive;
}

.create-btn {
    background-color: #fe7171;
    color: #00334e;
    font-size: 14px;
    padding: 10px 15px;
    margin: auto;
    border-radius: 12px;
    border: none;
    font-family: 'Bebas Neue', cursive;
}

.delete-btn {
    background-color: #fea82f;
    color: #00334e;
    font-size: 14px;
    padding: 10px 15px;
    margin: auto;
    border-radius: 12px;
    border: none;
    font-family: 'Bebas Neue', cursive;
}

.create-btn:hover, .home-btn:hover {
    cursor: pointer;
    color: #d6e0f0;
}

.home-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn:hover {
    cursor: pointer;
    color: #f0f0d6;
    background-color: #ce1212;
}



.bookmark-list > li {
    font-size: 24px;
    display: inline-block;
}

.bookmark-list > h2 {
    font-size: 40px;
}

.bookmarks-container {
    margin: 30px;
    padding: auto;

}

.bookmark-list {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.entry-form {
    position: fixed;
    top: 85%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}